@use '~@/style/config.scss' as *;

$group: #{$prefix}-button-group;
$button: #{$prefix}-button;
$button-square: #{$prefix}-is-square;
$button-circle: #{$prefix}-is-circle;
$button-status: primary, success, error, warning;

#{$group} {
  #{$button} {
    &:not(&:first-of-type):not(&:last-of-type) {
      &::part(#{$button}) {
        border-radius: 0;
      }
    }
    &:not(&:last-of-type) {
      &::part(#{$button}) {
        margin-inline-end: -1px;
      }

      &:hover {
        z-index: 3;
      }

      &::part(#{$button}-type-primary) {
        position: relative;
        &::after {
          display: block;
          content: '';
          width: 1px;
          position: absolute;
          height: 100%;
          top: 0;
          bottom: 0;
          right: -1px;
          z-index: 2;
        }
      }

      @each $status in $button-status {
        &::part(#{$button}-type-primary #{$button}-status-#{$status}) {
          &::after {
            background-color: var(--#{$prefix}-#{$status}-hover);
          }
          &:active::after {
            background-color: var(--#{$prefix}-#{$status}-active);
          }
        }
      }
    }
  }
  #{$button}:last-of-type {
    &::part(#{$button}) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:hover {
      z-index: 3;
    }
  }
  #{$button}:first-of-type {
    &::part(#{$button}) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
