:root {
  /* 颜色 */
  --blue-1: #e8f7ff;
  --blue-2: #c3e7fe;
  --blue-3: #9fd4fd;
  --blue-4: #7bc0fc;
  --blue-5: #57a9fb;
  --blue-6: #3491fa;
  --blue-7: #206ccf;
  --blue-8: #114ba3;
  --blue-9: #063078;
  --blue-10: #001a4d;
  --gray-0: #ffffff;
  --gray-1: #f5f5f5;
  --gray-2: #f0f0f0;
  --gray-3: #d9d9d9;
  --gray-4: #bfbfbf;
  --gray-5: #8c8c8c;
  --gray-6: #595959;
  --gray-7: #434343;
  --gray-8: #262626;
  --gray-9: #1f1f1f;
  --gray-10: #141414;
  --green-1: #e8ffea;
  --green-2: #aff0b5;
  --green-3: #7be188;
  --green-4: #4cd263;
  --green-5: #23c343;
  --green-6: #00b42a;
  --green-7: #009a29;
  --green-8: #008026;
  --green-9: #006622;
  --green-10: #004d1c;
  --orange-1: #fff7e8;
  --orange-2: #ffe4ba;
  --orange-3: #ffcf8b;
  --orange-4: #ffb65d;
  --orange-5: #ff9a2e;
  --orange-6: #ff7d00;
  --orange-7: #d25f00;
  --orange-8: #a64500;
  --orange-9: #792e00;
  --orange-10: #4d1b00;
  --red-1: #ffece8;
  --red-2: #fdcdc5;
  --red-3: #fbaca3;
  --red-4: #f98981;
  --red-5: #f76560;
  --red-6: #f53f3f;
  --red-7: #cb272d;
  --red-8: #a1151e;
  --red-9: #770813;
  --red-10: #4d000a;
  /* 主色调 */
  --primary-main-color: var(--blue-6);
  --primary-hover-color: var(--blue-5);
  --primary-click-color: var(--blue-7);
  --primary-disable-color: var(--blue-3);
  --primary-text-disable-color: var(--blue-2);
  --primary-bg-color: var(--blue-1);
  /* 成功色 */
  --success-main-color: var(--green-6);
  --success-hover-color: var(--green-5);
  --success-click-color: var(--green-7);
  --success-disable-color: var(--green-3);
  --success-text-disable-color: var(--green-2);
  --success-bg-color: var(--green-1);
  /* 警告色 */
  --warning-main-color: var(--orange-6);
  --warning-hover-color: var(--orange-5);
  --warning-click-color: var(--orange-7);
  --warning-disable-color: var(--orange-3);
  --warning-text-disable-color: var(--orange-2);
  --warning-bg-color: var(--orange-1);
  /* 错误色 */
  --danger-main-color: var(--red-6);
  --danger-hover-color: var(--red-5);
  --danger-click-color: var(--red-7);
  --danger-disable-color: var(--red-3);
  --danger-text-disable-color: var(--red-2);
  --danger-bg-color: var(--red-1);
  /* 填充色 */
  --color-fill-white: var(--gray-0); /* 白色 */
  --color-fill-disable: var(--gray-2); /* 浅色/禁用 */
  --color-fill-primary: var(--gray-3); /* 常规/白底悬浮 */
  --color-fill-hover: var(--gray-4); /* 深/灰底悬浮 */
  --color-fill-strength: var(--gray-6); /* 重/特殊场景 */
  /* 背景色 */
  --color-bg-white: var(--gray-0);
  /* 文字颜色 */
  --color-text-title: var(--gray-10); /* 强调/正文标题 */
  --color-text-primary: var(--gray-8); /* 常规 */
  --color-text-secondary: var(--gray-6); /* 次要信息 */
  --color-text-disable: var(--gray-4); /* 置灰信息 */
  --color-text-white: var(--gray-0); /* 白色文字/非白底使用 */
  /* 字体大小 */
  --font-size-body-primary: 14px; /* 常规 */
  --font-size-body-secondary: 13px; /* 正文-小 */
  --font-size-body-mini: 12px; /* 辅助文案/次要文案 */
  --font-size-title-small: 16px; /* 标题-小 */
  --font-size-title-medium: 20px; /* 标题-中 */
  --font-size-title-large: 24px; /* 标题-大 */
  /* 组件大小 */
  --size-mini: 24px;
  --size-small: 28px;
  --size-default: 32px;
  --size-large: 36px;
  /* 边框 */
  --border-secondary: 1px solid var(--gray-2); /* 浅色 */
  --border-primary: 1px solid var(--gray-3); /* 常规 */
  --border-hover: 1px solid var(--gray-4); /* 深/悬浮/按钮描边 */
  --border-strength: 1px solid var(--gray-6); /* 重/特殊场景 */
  /* 边框圆角 */
  --border-radius-none: 0; /* 直角 */
  --border-radius-small: 2px; /* 圆角小 */
  --border-radius-medium: 4px; /* 圆角常规 */
  --border-radius-large: 8px; /* 圆角大 */
  --border-radius-circle: 50%; /* 全圆 */
  /* 间距大小 */
  --size-mini: 4px;
  --size-small: 8px;
  --size-medium: 16px;
  --size-large: 24px;
  /* 阴影 */
  /* 阴影向下：主要应用于组件内部或组件本身，是比较常规场景的用法 */
  /* 阴影向上：主要应用于底部导航或工具栏等 */
  /* 阴影向左：主要应用于右边导航栏、抽屉组件或固定表格栏 */
  /* 阴影向右：主要应用于左边导航栏、抽屉组件或固定表格栏 */
  /* 第1层: 用于物体被操作(悬停、点击等)触发为悬浮状态, 如卡片 hover */
  --shadow-1-up: 0px -1px 2px -2px rgba(0, 0, 0, 0.16),
    0px -3px 6px 0px rgba(0, 0, 0, 0.12), 0px -5px 12px 4px rgba(0, 0, 0, 0.09);
  --shadow-1-down: 0px 1px 2px -2px rgba(0, 0, 0, 0.16),
    0px 3px 6px 0px rgba(0, 0, 0, 0.12), 0px 5px 12px 4px rgba(0, 0, 0, 0.09);
  --shadow-1-left: -1px 0px 2px -2px rgba(0, 0, 0, 0.16),
    -3px 0px 6px 0px rgba(0, 0, 0, 0.12), -5px 0px 12px 4px rgba(0, 0, 0, 0.09);
  --shadow-1-right: 1px 0px 2px -2px rgba(0, 0, 0, 0.16),
    3px 0px 6px 0px rgba(0, 0, 0, 0.12), 5px 0px 12px 4px rgba(0, 0, 0, 0.09);
  /* 第2层: 用于物体与基准面的关系是展开并跟随，物体由地面上的元素展开产生，如下拉面板等 */
  --shadow-2-up: 0px -3px 6px -4px rgba(0, 0, 0, 0.12),
    0px -6px 16px 0px rgba(0, 0, 0, 0.08), 0px -9px 28px 8px rgba(0, 0, 0, 0.05);
  --shadow-2-down: 0px 3px 6px -4px rgba(0, 0, 0, 0.12),
    0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  --shadow-2-left: -3px 0px 6px -4px rgba(0, 0, 0, 0.12),
    -6px 0px 16px 0px rgba(0, 0, 0, 0.08), -9px 0px 28px 8px rgba(0, 0, 0, 0.05);
  --shadow-2-right: 3px 0px 6px -4px rgba(0, 0, 0, 0.12),
    6px 0px 16px 0px rgba(0, 0, 0, 0.08), 9px 0px 28px 8px rgba(0, 0, 0, 0.05);
  /* 第3层: 用于物体位于高层级，该物体的运动和其他层级没有关联，如对话框等 */
  --shadow-3-up: 0px -6px 16px -8px rgba(0, 0, 0, 0.08),
    0px -9px 28px 0px rgba(0, 0, 0, 0.05),
    0px -12px 48px 16px rgba(0, 0, 0, 0.03);
  --shadow-3-down: 0px 6px 16px -8px rgba(0, 0, 0, 0.08),
    0px 9px 28px 0px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
  --shadow-3-left: -6px 0px 16px -8px rgba(0, 0, 0, 0.08),
    -9px 0px 28px 0px rgba(0, 0, 0, 0.05),
    -12px 0px 48px 16px rgba(0, 0, 0, 0.03);
  --shadow-3-right: 6px 0px 16px -8px rgba(0, 0, 0, 0.08),
    9px 0px 28px 0px rgba(0, 0, 0, 0.05), 12px 0px 48px 16px rgba(0, 0, 0, 0.03);
  /* 字体 */
  @font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
