@use '~@/style/mixin.scss' as *;
@use '~@/style/config.scss' as *;

$ripple: #{$prefix}-ripple;

@include b(ripple) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;

  @include e(content) {
    position: absolute;
    border-radius: 100%;
    background: currentColor;
    opacity: 0.15;
    width: 0;
    height: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform: scale(0);
    pointer-events: none;
    user-select: none;

    &.#{$ripple}-held {
      opacity: 0.5;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    &.#{$ripple}-finish {
      opacity: 0;
    }
  }
}

/** adds default border-radius */
// .#{$ripple}.fill::after {
//   /** allows webkit/blink to tap on corners */
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   content: '';
// }
// .#{$ripple}.fill {
//   border-radius: 1000000px; /** "large" number, but not 100% */
// }
